<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="css/project.css" />
  </head>
  <body>
		<h1 id="header">About Us</h1>
		<h2>Team</h2>
	  	<div id="workers" class="grid-frame">
	  		<div id='one' class='employee flex-item'>
					<%= image_tag "kayla-out.png" %>
					<h3>Kayla</h3>
					<p>Chief Chef</p>
	  		</div>
	  		<div id='two' class='employee flex-item'>
	  			<%= image_tag "syam-cooking.png" %>
					<h3>Syam</h3>
					<p>Cutlery Specialist</p>
	  		</div>
	  		<div id='three' class='employee flex-item'>
	  			<%= image_tag "gw-duck.png" %>
	  			<h3>George Washingtonduck</h3>
	  			<p>Team Stylist</p>
	  		</div>
	  		<div id='four' class='advisor flex-item'>
	  			<%= image_tag "reva.png" %>
	  			<h3>Reva</h3>
	  			<p>Avocado Director</p>
	  		</div>
	  		<div id='five' class='advisor flex-item'>
	  			<%= image_tag "sari-sadie.png" %>
	  			<h3>Sadie</h3>
	  			<p>Asparagi Wrangler</p>
	  		</div>
			</div>
    <h2>Investors</h2>
    <div id="investors" class="grid-frame">
    		<div class='investor flex-item'>
    			<%= image_tag "cooper.png" %>
    			<h3>Cooper</h3>
    			<p>Natural Gas Investor</p>
    		</div>
    </div>
    <div id="footer"></div>
  </body>
</html>