<h2 class="page-title">List of ingredients</h2>

<% @ingredients.each do |ingredient| %>
<div class="ingredient">
  <h3><%= ingredient.name %></h3>
  <ul class="functions">
    <li><%= link_to 'Edit', edit_ingredient_path(ingredient) %></li>
    <li><%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
  <br class="clear" />
</div>
<% end %>

<%= link_to "Add ingredient", new_ingredient_path%>
<br><br>
<%= link_to "View meals", meals_path %>