<h2 class="page-title"> Meals </h2>

<%= link_to 'New Meal', new_meal_path %>

<ul class="meal-list no-bullet">

<% @meals.each do |meal| %>

<li id="<%=dom_id(meal) %>" class="row clearfix">
		<div class="small-7 medium-7 columns"><%=link_to meal.name, edit_meal_path(meal) %></div>
		<div class="small-3 medium-3 columns"><span class="label round"><%= pluralize(meal.servings.to_s,"servings")%></span></div>
		<div class="small-2 medium-2 columns"><%= link_to "Delete", meal, method: :delete, data: {confirm: "Are you sure?"} %></div>
</li>



	<% end %>
</ul>
<br><br>

<%= render 'form_menu' %>
