<h1> Menu for the week </h1>

<% i = 0 %>
<% while i < @num %>
	<% if @weekMenu[i] %>
		<%= @daysOfWeek[i] + ": " + @weekMenu[i].name %> <br>
	<% else %>
		<br><b><%= "You need to add more meals to show a meal for #{@daysOfWeek[i]}." %></b>
	<% end %>
	<% i += 1 %>
<% end %>

<h2><%="Grocery list for " + pluralize(@num.to_s, 'day') %></h2>
<% @ingQuantityHash.each do |ingredient_id, ingredient_quantity| %>
	<ul>
		<li><%= Ingredient.find(ingredient_id).name + ": " + ingredient_quantity.to_s %> </li>
	</ul>
<% end %>

<br><br>
<%= render 'form_menu' %>	
<br><br>
<%= link_to 'Return to meals', meals_path %>

